# Predictive Methods Project :

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

Rendu :<br>
- Notebook =>  <br>
- Rapport =>  <br>
- Brouillon, plan, idées & liens utiles =>  <br>

## 0°/ Introduction :

This part will be filled when we find a correct source of data and all agreed on the topic.

## 1°/ Set up :

### 1.1°/ Pip install & Import :

In [ ]:
# Some libraries may need to be installed beforehand, add any !pip install here
#!pip install pandas
#!pip install geopandas

In [ ]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

### 1.2°/ Import datasets

In [2]:
# This is not the data source
#  https://www.data.gouv.fr/datasets/donnees-climatologiques-de-base-quotidiennes/
# 

df1 = pd.read_csv('datasets/2010-2017_FR_data_weather.csv')
df2 = pd.read_csv('datasets/2018-2025_FR_data_weather.csv')

df = pd.concat([df1, df2])
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNWD,TAVG,TMAX,TMIN
0,FRM00007607,"MONT DE MARSAN, FR",43.912,-0.508,61.9,2010-01-01,0.67,NaN,44.0,51.0,NaN
1,FRM00007607,"MONT DE MARSAN, FR",43.912,-0.508,61.9,2010-01-02,0.51,NaN,38.0,44.0,32.0
2,FRM00007607,"MONT DE MARSAN, FR",43.912,-0.508,61.9,2010-01-03,0.00,NaN,40.0,NaN,36.0
3,FRM00007607,"MONT DE MARSAN, FR",43.912,-0.508,61.9,2010-01-04,0.41,NaN,44.0,NaN,41.0
4,FRM00007607,"MONT DE MARSAN, FR",43.912,-0.508,61.9,2010-01-05,0.04,NaN,36.0,42.0,NaN

### 1.3°/ Visualization set up :

In [3]:
# https://www.data.gouv.fr/api/1/datasets/r/aacf9338-8944-4513-a7b9-4cd7c2db2fa9

import geopandas

## 2°/ Pre-processing :

### 2.0°/ Merge datasets (optional)

### 2.1 : Data cleaning :

### 2.2°/ Explanatory data analysis :

## 3°/ Feature engineering (if needed) :

<ul>
  <li>List here the different feature extraction we can use depending on the model we will use. (Again this part may not be used so don't waste time on it)</li>
</ul>

## 4°/ Modeling :

We can do multiple model here to obtain different results so that we can debate over them later on.

### 4.1°/ 1st model :

### 4.i°/ i-ième model :

## 5°/ Models prediction & Metrics evaluation :