# Predictive Methods Project :

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

Rendu :<br>
- Notebook =>  <br>
- Rapport =>  <br>
- Brouillon, plan, idées & liens utiles =>  <br>

## 0°/ Introduction :

This part will be filled when we find a correct source of data and all agreed on the topic.

## 1°/ Set up :

### 1.1°/ Pip install & Import :

In [1]:
# Some libraries may need to be installed beforehand, add any !pip install here
#!pip install pandas
#!pip install geopandas
#!pip install tqdm

In [5]:
import pandas as pd
import numpy as np
import warnings

# Useful to show loop progress
from tqdm import tqdm

# Turn off warning
warnings.filterwarnings('ignore')

### 1.2°/ Import datasets

In [ ]:
# =============================================================
# == I set up the Corse zone (2A, 2B) as number (201, 202)   ==
# == Be mindful of this particularity throughout the project ==
# =============================================================

dict_test_2_first_dept = {
    '01' : "Ain", 
    '02' : "Aisne"
}

En_France_métropolitaine = {
    '01' : "Ain", 
    '02' : "Aisne", 
    '03' : "Allier", 
    '04' : "Alpes-de-Haute-Provence", 
    '05' : "Hautes-Alpes", 
    '06' : "Alpes-Maritimes", 
    '07' : "Ardèche", 
    '08' : "Ardennes", 
    '09' : "Ariège", 
    '10' : "Aube", 
    '11' : "Aude", 
    '12' : "Aveyron", 
    '13' : "Bouches-du-Rhône", 
    '14' : "Calvados", 
    '15' : "Cantal", 
    '16' : "Charente", 
    '17' : "Charente-Maritime", 
    '18' : "Cher", 
    '19' : "Corrèze", 
    '201' : "Corse-du-Sud", 
    '202' : "Haute-Corse", 
    '21' : "Côte-d'Or", 
    '22' : "Côtes-d'Armor", 
    '23' : "Creuse", 
    '24' : "Dordogne", 
    '25' : "Doubs", 
    '26' : "Drôme", 
    '27' : "Eure", 
    '28' : "Eure-et-Loir", 
    '29' : "Finistère", 
    '30' : "Gard", 
    '31' : "Haute-Garonne", 
    '32' : "Gers", 
    '33' : "Gironde", 
    '34' : "Hérault", 
    '35' : "Ille-et-Vilaine", 
    '36' : "Indre", 
    '37' : "Indre-et-Loire", 
    '38' : "Isère", 
    '39' : "Jura", 
    '40' : "Landes", 
    '41' : "Loir-et-Cher", 
    '42' : "Loire", 
    '43' : "Haute-Loire", 
    '44' : "Loire-Atlantique", 
    '45' : "Loiret", 
    '46' : "Lot", 
    '47' : "Lot-et-Garonne", 
    '48' : "Lozère", 
    '49' : "Maine-et-Loire", 
    '50' : "Manche", 
    '51' : "Marne", 
    '52' : "Haute-Marne", 
    '53' : "Mayenne", 
    '54' : "Meurthe-et-Moselle", 
    '55' : "Meuse", 
    '56' : "Morbihan", 
    '57' : "Moselle", 
    '58' : "Nièvre", 
    '59' : "Nord", 
    '60' : "Oise", 
    '61' : "Orne", 
    '62' : "Pas-de-Calais", 
    '63' : "Puy-de-Dôme", 
    '64' : "Pyrénées-Atlantiques", 
    '65' : "Hautes-Pyrénées", 
    '66' : "Pyrénées-Orientales", 
    '67' : "Bas-Rhin", 
    '68' : "Haut-Rhin", 
    '69' : "Rhône", 
    '70' : "Haute-Saône", 
    '71' : "Saône-et-Loire", 
    '72' : "Sarthe", 
    '73' : "Savoie", 
    '74' : "Haute-Savoie", 
    '75' : "Paris", 
    '76' : "Seine-Maritime", 
    '77' : "Seine-et-Marne", 
    '78' : "Yvelines", 
    '79' : "Deux-Sèvres", 
    '80' : "Somme", 
    '81' : "Tarn", 
    '82' : "Tarn-et-Garonne", 
    '83' : "Var", 
    '84' : "Vaucluse", 
    '85' : "Vendée", 
    '86' : "Vienne", 
    '87' : "Haute-Vienne", 
    '88' : "Vosges", 
    '89' : "Yonne", 
    '90' : "Territoire_de_Belfort", 
    '91' : "Essonne", 
    '92' : "Hauts-de-Seine", 
    '93' : "Seine-Saint-Denis", 
    '94' : "Val-de-Marne", 
    '95' : "Val-d'Oise"
}

# Well kinda useless since the region is different
En_outre_mer = {
    '971' : "Guadeloupe",
    '972' : "Martinique",
    '973' : "Guyane",
    '974' : "La-Réunion",
    '976' : "Mayotte"
}

Region = {
    "Auvergne-Rhône-Alpes": [1, 3, 7, 15, 26, 38, 42, 43, 69, 73, 74], # And this
    "Bourgogne-Franche-Comté": [21, 25, 39, 58, 70, 71, 89, 90],
    "Bretagne": [22, 29, 35, 56],
    "Centre-Val de Loire": [18, 28, 36, 37, 41, 45],
    "Grand Est": [8, 10, 51, 52, 54, 55, 57, 67, 68, 88],
    "Hauts-de-France": [2, 59, 60, 62, 80],
    "Île-de-France": [75, 77, 78, 91, 92, 93, 94, 95],
    "Normandie": [14, 27, 50, 61, 76],
    "Nouvelle-Aquitaine": [16, 17, 19, 23, 24, 33, 40, 47, 64, 79, 86, 87],
    "Occitanie": [9, 11, 12, 30, 31, 32, 34, 46, 48, 65, 66, 81, 82],
    "Pays de la Loire": [44, 49, 53, 72, 85],
    "Provence-Alpes-Côte d'Azur": [4, 6, 13, 83, 84] # This
}

# df.columns => ctrl + c / ctrl + v
Col_RTT = ['NUM_POSTE', 'NOM_USUEL', 'LAT', 'LON', 'ALTI', 'AAAAMMJJ', 'RR', 'QRR',
           'TN', 'QTN', 'HTN', 'QHTN', 'TX', 'QTX', 'HTX', 'QHTX', 'TM', 'QTM',
           'TNTXM', 'QTNTXM', 'TAMPLI', 'QTAMPLI', 'TNSOL', 'QTNSOL', 'TN50',
           'QTN50', 'DG', 'QDG', 'FFM', 'QFFM', 'FF2M', 'QFF2M', 'FXY', 'QFXY',
           'DXY', 'QDXY', 'HXY', 'QHXY', 'FXI', 'QFXI', 'DXI', 'QDXI', 'HXI',
           'QHXI', 'FXI2', 'QFXI2', 'DXI2', 'QDXI2', 'HXI2', 'QHXI2', 'FXI3S',
           'QFXI3S', 'DXI3S', 'QDXI3S', 'HXI3S', 'QHXI3S', 'DRR', 'QDRR']

# df.columns => ctrl + c / ctrl + v
Col_autre_para = ['NUM_POSTE', 'NOM_USUEL', 'LAT', 'LON', 'ALTI', 'AAAAMMJJ', 'DHUMEC',
                  'QDHUMEC', 'PMERM', 'QPMERM', 'PMERMIN', 'QPMERMIN', 'INST', 'QINST',
                  'GLOT', 'QGLOT', 'DIFT', 'QDIFT', 'DIRT', 'QDIRT', 'INFRART',
                  'QINFRART', 'UV', 'QUV', 'UV_INDICEX', 'QUV_INDICEX', 'SIGMA', 'QSIGMA',
                  'UN', 'QUN', 'HUN', 'QHUN', 'UX', 'QUX', 'HUX', 'QHUX', 'UM', 'QUM',
                  'DHUMI40', 'QDHUMI40', 'DHUMI80', 'QDHUMI80', 'TSVM', 'QTSVM', 'ETPMON',
                  'QETPMON', 'ETPGRILLE', 'QETPGRILLE', 'ECOULEMENTM', 'QECOULEMENTM',
                  'HNEIGEF', 'QHNEIGEF', 'NEIGETOTX', 'QNEIGETOTX', 'NEIGETOT06',
                  'QNEIGETOT06', 'NEIG', 'QNEIG', 'BROU', 'QBROU', 'ORAG', 'QORAG',
                  'GRESIL', 'QGRESIL', 'GRELE', 'QGRELE', 'ROSEE', 'QROSEE', 'VERGLAS',
                  'QVERGLAS', 'SOLNEIGE', 'QSOLNEIGE', 'GELEE', 'QGELEE', 'FUMEE',
                  'QFUMEE', 'BRUME', 'QBRUME', 'ECLAIR', 'QECLAIR', 'NB300', 'QNB300',
                  'BA300', 'QBA300', 'TMERMIN', 'QTMERMIN', 'TMERMAX', 'QTMERMAX',
                  'Year']

Col_to_drop = ['FFM', 'FF2M', 'FXY', 'DXY', 'HXY', 'FXI', 'DXI', 'HXI', 'FXI2', 'DXI2',
               'HXI2', 'FXI3S', 'DXI3S', 'HXI3S', 'PMERM', 'PMERMIN', 'GLOT', 'DIFT',
               'INFRART', 'UV_INDICEX', 'SIGMA', 'UN', 'HUN', 'UX', 'HUX', 'UM', 'DHUMI40',
               'DHUMI80', 'TSVM', 'ETPMON', 'ETPGRILLE', 'ECOULEMENTM', 'HNEIGEF', 'NEIGETOTX',
               'NEIGETOT06', 'NB300', 'BA300', 'TMERMIN', 'TMERMAX']

Q_col_to_drop = ['QRR','QTN', 'QHTN', 'QTX', 'QHTX', 'QTM', 'QTNTXM', 'QTAMPLI', 'QTNSOL',
                 'QTN50', 'QDG', 'QFFM', 'QFF2M', 'QFXY', 'QDXY', 'QHXY', 'QFXI', 'QDXI',
                 'QHXI', 'QFXI2', 'QDXI2', 'QHXI2', 'QFXI3S', 'QDXI3S', 'QHXI3S', 'QDRR',
                 'QDHUMEC', 'QPMERM', 'QPMERMIN', 'QINST', 'QGLOT', 'QDIFT', 'QDIRT',
                 'QINFRART', 'QUV', 'QUV_INDICEX', 'QSIGMA', 'QUN', 'QHUN', 'QUX', 'QHUX', 'QUM',
                 'QDHUMI40', 'QDHUMI80', 'QTSVM', 'QETPMON', 'QETPGRILLE', 'QECOULEMENTM',
                 'QHNEIGEF', 'QNEIGETOTX', 'QNEIGETOT06', 'QNEIG', 'QBROU', 'QORAG', 'QGRESIL',
                 'QGRELE', 'QROSEE', 'QVERGLAS', 'QSOLNEIGE', 'QGELEE', 'QFUMEE', 'QBRUME',
                 'QECLAIR', 'QNB300', 'QBA300', 'QTMERMIN', 'QTMERMAX']

In [8]:
def base_data_cleaning(df, start_year, end_year):
    """
    This function does 2 things :
    - By manually setting it, keep only data between 2 given year
    - It allow to drop all rows with NaN value that should have contained mandatory information
    """

    # I'm a baka
    df['AAAAMMJJ'] = df['AAAAMMJJ'].astype('str')
    df['NUM_POSTE'] = df['NUM_POSTE'].astype('str')

    # Drop rows without id
    df = df.dropna(subset = ['NUM_POSTE', 'AAAAMMJJ'])

    # ===========================================
    # == Only keep Data between the set period ==
    # ===========================================
    df = df[df['AAAAMMJJ'].str[:4].astype('int').between(start_year, end_year)]

    return df

def modify_columns(df, key, value):
    """
    Extract the feature of the date columns
    Also assign the department number and name to the extracted data
    """
    df = df.drop(Col_to_drop, axis = 1)
    df = df.drop(Q_col_to_drop, axis = 1)

    df['Year'] = df['AAAAMMJJ'].str[:4]
    df['Month'] = df['AAAAMMJJ'].str[4:6]
    df['Day'] = df['AAAAMMJJ'].str[-2:]
    
    df['Dept_numb'] = key
    df['Dept_name'] = value

    return df

def webo_scrappo_el_dataframo(start_y, end_y):
    """
    Extract the weather data from all department of the metropolitan France on a given period of time
    This function use the following link :
    https://www.data.gouv.fr/datasets/donnees-climatologiques-de-base-quotidiennes
    To extract from data.gouv for each department all 4 related datasets.
    Then proceed by merging and concatenating all of them
    """
    df_metropo = pd.DataFrame()
    dept_error = []

    # Data source : https://www.data.gouv.fr/datasets/donnees-climatologiques-de-base-quotidiennes

    # The download link is such as :
    # url_base + "department number" + url_end{RTT_1950, autre_1950, RTT_2025, autre_2025}
    # We have 95 department in the metropolitan area : 95 'Dept_number'
    # All department have a dataset for RTT & Other_feature, then those cover both the 1950-2023 period and 2024-2025 period : 4 datasets per department
    # => around 95*4 = 380 url

    url_base = "https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_"
    
    url_end_RTT_1950 = "_previous-1950-2023_RR-T-Vent.csv.gz"
    url_end_autre_1950 = "_previous-1950-2023_autres-parametres.csv.gz"
    url_end_RTT_2025 = "_latest-2024-2025_RR-T-Vent.csv.gz"
    url_end_autre_2025 = "_latest-2024-2025_autres-parametres.csv.gz"

    for key, value in tqdm(dict_test_2_first_dept.items(), desc="Downloading depts"):

        try :

            url = url_base + key
            df_temp_RTT_1950 = pd.read_csv(url + url_end_RTT_1950, sep = ';', compression = 'gzip')
            df_temp_autre_1950 = pd.read_csv(url + url_end_autre_1950, sep = ';', compression = 'gzip')
            df_temp_RTT_2025 = pd.read_csv(url + url_end_RTT_2025, sep = ';', compression = 'gzip')
            df_temp_autre_2025 = pd.read_csv(url + url_end_autre_2025, sep = ';', compression = 'gzip')

            df_temp_RTT_1950 = base_data_cleaning(df_temp_RTT_1950, start_y, end_y)
            df_temp_autre_1950 = base_data_cleaning(df_temp_autre_1950, start_y, end_y)
            df_temp_RTT_2025 = base_data_cleaning(df_temp_RTT_2025, start_y, end_y)
            df_temp_autre_2025 = base_data_cleaning(df_temp_autre_2025, start_y, end_y)

            df_temp_1950 = pd.merge(df_temp_RTT_1950, df_temp_autre_1950, on = ['NUM_POSTE', 'NOM_USUEL', 'LAT', 'LON', 'ALTI', 'AAAAMMJJ'], how = "left")
            df_temp_2025 = pd.merge(df_temp_RTT_2025, df_temp_autre_2025, on = ['NUM_POSTE', 'NOM_USUEL', 'LAT', 'LON', 'ALTI', 'AAAAMMJJ'], how = "left")

            df_temp = pd.concat([df_temp_1950, df_temp_2025])
            
            df_temp = modify_columns(df_temp, key, value)

            df_metropo = pd.concat([df_metropo, df_temp])
            
            #print(key)
        
        except:
            dept_error.append(key)

        # This print the progress
        # tqdm.write(f"➡ Dept: {key}")

    print(dept_error)

    return df_metropo

In [9]:
df = webo_scrappo_el_dataframo(2015, 2025)
df.shape

Downloading depts: 100%|██████████| 2/2 [00:55<00:00, 28.00s/it]

[]

(191348, 39)

In [ ]:
# For when the dataframe will be clean :
#df.to_csv("datasets/Weather_data_2010-2025.csv", index=False)

In [ ]:
# # 1950-2023 RRT
# "https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_01_previous-1950-2023_RR-T-Vent.csv.gz"
# # 1950-2023 Autre para
# "https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_01_previous-1950-2023_autres-parametres.csv.gz"
# # 2024-2025 RRT
# "https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_01_latest-2024-2025_RR-T-Vent.csv.gz"
# # 2024-2025 Autre para
# "https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_01_latest-2024-2025_autres-parametres.csv.gz"
# 
# df_test = pd.read_csv("https://object.files.data.gouv.fr/meteofrance/data/synchro_ftp/BASE/QUOT/Q_01_latest-2024-2025_RR-T-Vent.csv.gz", sep = ';',compression = 'gzip')
# df_test.head()

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,...,HXI2,QHXI2,FXI3S,QFXI3S,DXI3S,QDXI3S,HXI3S,QHXI3S,DRR,QDRR
0,1014002,ARBENT,46.278167,5.669,534,20240101,3.2,1.0,1.8,1.0,...,NaN,NaN,8.5,1.0,140.0,1.0,2259.0,9.0,NaN,NaN
1,1014002,ARBENT,46.278167,5.669,534,20240102,15.2,1.0,5.0,1.0,...,NaN,NaN,17.6,1.0,140.0,1.0,1930.0,9.0,NaN,NaN
2,1014002,ARBENT,46.278167,5.669,534,20240103,8.0,1.0,7.5,1.0,...,NaN,NaN,14.2,1.0,210.0,1.0,1648.0,9.0,NaN,NaN
3,1014002,ARBENT,46.278167,5.669,534,20240104,0.0,1.0,2.8,1.0,...,NaN,NaN,11.1,1.0,150.0,1.0,2203.0,9.0,NaN,NaN
4,1014002,ARBENT,46.278167,5.669,534,20240105,8.4,1.0,1.8,1.0,...,NaN,NaN,8.2,1.0,180.0,1.0,26.0,9.0,NaN,NaN

### 1.3°/ Visualization set up :

In [1]:
# If you're working on an anaconda environment, do the following :
# *Open anaconda prompt terminal* (NOT ANOTHER ONE, THIS ONE ESPECIALLY)
# conda create -n "name_of_your_environment" python=3.14
# conda activate name_of_your_environment
# conda install -c conda-forge geopandas
# pip install of conda install on any other terminal will end in a error with the "pyogrio" module. Why ? The hell I don't know.

# https://www.data.gouv.fr/api/1/datasets/r/aacf9338-8944-4513-a7b9-4cd7c2db2fa9

import geopandas as gpd
import matplotlib as plt

In [ ]:
Python: c:\anaconda\envs\Predictive_methods\python.exe
Matplotlib version: 3.10.7
Backend: module://matplotlib_inline.backend_inline

Python: c:\anaconda\envs\Predictive_methods\python.exe
Matplotlib version: 3.10.7
Backend: module://matplotlib_inline.backend_inline

In [2]:
# Non metropolitan France + Corsia
reg_useless = ['01', '02', '03', '04', '06', '94']

In [3]:
gdf = gpd.read_file('datasets/regions-20180101.shp')
gdf = gdf[~gdf['code_insee'].isin(reg_useless)]
gdf.plot()

c:\anaconda\envs\Predictive_methods\Lib\site-packages\pyogrio\core.py:35: RuntimeWarning: Could not detect GDAL data files. Set GDAL_DATA environment variable to the correct path.
  _init_gdal_data()

:

## 2°/ Pre-processing :

### 2.0°/ Merge datasets (optional)

### 2.1 : Data cleaning :

### 2.2°/ Explanatory data analysis :

## 3°/ Feature engineering (if needed) :

<ul>
  <li>List here the different feature extraction we can use depending on the model we will use. (Again this part may not be used so don't waste time on it)</li>
</ul>

## 4°/ Modeling :

We can do multiple model here to obtain different results so that we can debate over them later on.

### 4.1°/ 1st model :

### 4.i°/ i-ième model :

## 5°/ Models prediction & Metrics evaluation :